<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UrlPath</key>
	<string>http://fitness4metesting.com/mobile/version3/jsonversion3.php?</string>
	<key>VideoUrl</key>
	<string>http://fitness4.me/</string>
	<key>IphoneRegistration</key>
	<string>http://fitness4metesting.com/mobile/</string>
	<key>applicationUsedCount</key>
	<string>0</string>
</dict>
</plist>
